<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать</title>
  <style>
    .b2{
      background: navy;
      color: white;
      font-size: 15pt;
      border-radius: 4px;
    }
    label{
      font-size: 18px;
    }

    form {
      margin-top: 30px;
      margin-left: 30px;
      font-weight: 600;
    }

    input {
      align-self: flex-end;
    }

  </style>
</head>
<body>
<form th:method="POST" th:action="@{/user/{id}/update(id=${user.id})}" th:object="${user}">
  <label for="username">Введите имя: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
  <br/>
  <label for="password">Введите пароль: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
  <br/>
  <label>Выберите роль: </label>
  <select th:field="*{roles}">
    <th:block th:each="role:${roles}">
      <option th:value="${role.id}"
              th:text="${role.name}">
      </option>
    </th:block>
  </select>
  <br/>
  <input type="submit" class="b2"  value="Обновить"/>
</form>
<br>
<form th:method="GET" th:action="@{/}">
  <input type="submit" th:class="b2" value="Главная">
</form>
<br/>
</body>
</html>