<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать</title>
<style>
  .b2{
    background: navy;
    color: white;
    font-size: 15pt;
    border-radius: 4px;
  }
  label{
    font-size: 18px;
  }

  form {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 600;
  }

  input {
    align-self: flex-end;
  }

</style>
</head>
<body>
<form th:method="POST" th:action="@{/cash/{id}/update(id=${cash.id})}" th:object="${cash}">
  <strong><label for="balance">Введите баланс: </label></strong>
  <input type="number" th:field="*{balance}" id="balance"/>
  <div style="color:red" th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}">Balance Error</div>
  <br/>

  <input type="submit" class="b2"  value="Обновить"/>
</form>
<br>
<form th:method="GET" th:action="@{/}">
  <input type="submit" class="b2" value="Главная">
</form>
<br/>
</body>
</html>