<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получить перевод</title>
    <style>
        .b2{
            background: navy;
            color: white;
            font-size: 15pt;
            border-radius: 4px;
        }

        label{
            font-size: 18px;
            margin-top: 20px;
        }

        input {
            margin-top: 10px;
        }

        form {
            margin-top: 30px;
            margin-left: 30px;
            font-weight: 600;
        }


    </style>


</head>
<body>
<form th:method="POST" th:action="@{/transfer/getTransfer}">

    <label>КАССА: </label>
    <select th:field="*{transfer.cash}">
        <th:block th:each="cash:${cashes}">
            <option th:value="${cash.id}"
                    th:text="${cash.id}">
            </option>
        </th:block>
    </select>
    <br/>
    <br/>
    <label>Выберите отправителя: </label>
    <select th:field="*{transfer.sender}">
        <th:block th:each="sender:${accounts}">
            <option th:value="${sender.id}"
                    th:text="${sender.username}">
            </option>
        </th:block>
    </select>
    <br/>
    <br/>
    <label>Выберите получателя: </label>
    <select th:field="*{transfer.recipient}">
        <th:block th:each="recipient:${accounts}">
            <option th:value="${recipient.id}"
                    th:text="${recipient.username}">
            </option>
        </th:block>
    </select>
    <br/>
    <br/>
    <label>Выберите валюту: </label>
    <select th:field="*{transfer.currency}">
        <th:block th:each="currency:${currencies}">
            <option th:value="${currency.id}"
                    th:text="${currency.name}">
            </option>
        </th:block>
    </select>
    <br/>
    <br/>
    <label for="amount">Введите сумму: </label>
    <input type="number" th:field="*{transfer.amount}" id="amount"/>
    <br/>
    <br/>
    <label for="comment">Введите комментарий: </label>
    <input type="text" th:field="*{transfer.comment}" id="comment"/>
    <br/>
    <br/>
    <label for="code">Введите код: </label>
    <input type="number" th:field="*{transfer.unicCode}" id="code"/>
    <br/>
    <br/>
    <input type="submit" class="b2" value="Получить"/>
</form>
<br>
<form th:method="GET" th:action="@{/}">
    <input type="submit" th:class="b2" value="Главная">
</form>
<br/>
</body>
</html>