<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Операции</title>
</head>
<body>

<style>

    table {
        margin: 20px;
    }
    .b2 {
        margin-left: 20px;
        background: navy;
        color: white;
        font-size: 15pt;
        border-radius: 4px;
    }

    td {
        margin: 20px;
        font-weight: 600;
        font-family: arial, sans-serif;
        padding: 20px;
        border: 1px solid lightseagreen;
        border-collapse: collapse;
    }
</style>

<table>
    <tr>
        <td><a th:href="@{/transfer/add}"><p>Переводить деньги</p></a></td>
        <td><a th:href="@{/operation}"><p>Получить деньги</p></a></td>
    </tr>
</table>


<form th:method="GET" th:action="@{/}">
    <input type="submit" class="b2" th:class="b2" value="Главная">
</form>
</body>
</html>